@import '../base/_colors';
@import '../mixins/_font';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    margin: 0;
    background-color: $background;

    &__logo {
        size: 38px 38px;
        margin: 18px 0;
        padding: 0; 
    }
}