.trending {
    max-width: 50%;
    box-shadow: 0px 0px 20px $background;
    border-radius: 10px;
    margin: 30px 70px;

    &__title {
        @include font-style(700, 26px, 24px, $primary);
        text-align: center;
        padding: 10px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        align-items: center;
    }

    &__title-coins {
        @include font-style(700, 24px, 22px, $black);
        padding: 20px

    }

    &__title-cap {
        @include font-style(700, 24px, 22px, $black);
        padding: 10px;
        text-align: center;

    }

    &__link {
        @include font-style(400, 24px, 20px, $black);
        @include link;
        display: flex;
        align-items: center;
        border-radius: 10px;
    
        &:hover {
          background: $background;
          transition: 0.6s ease-out;
        }

    }

    &__coin-icon {
        width: 22px;
        height: 22px;
        padding: 0;
        margin: 0 10px 0 20px;
    }

    &__market-cap {
        @include font-style(400, 24px, 20px, $black);
        padding: 7px 4px;
        text-align: center;

    }

    &__loading {
        @include font-style(500, 20px, 18px, $secondary);
        text-align: center;
        margin: 20px;
    }

    &__error {
        @include font-style(500, 20px, 18px, $error);
        text-align: center;
        margin: 20px;
    }
}