@import "../mixins/mixins";

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "search search"
    "trending converter";
  gap: 40px 70px;
  margin: 70px auto;

  &__title {
    @include font-style(800, 26px, 23px, $black);
    text-align: center;
    grid-area: title;
  }
}
